html,
body {
    height: 100%;
    font-family: 'Nunito', sans-serif;
}

#login-page, #reset-page {
   max-width: 460px;
}

.principal{
    display: flex;
    align-items: center;
    position: relative;
    min-height: 90%;
    justify-content: center;
}

.card {
     /*position: absolute;
     left: 50%;
     top: 50%;
     -moz-transform: translate(-50%, -50%)
     -webkit-transform: translate(-50%, -50%)
     -ms-transform: translate(-50%, -50%)
     -o-transform: translate(-50%, -50%)
     transform: translate(-50%, -50%); */
}